.generateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    border: .3rem solid white;
    height: 10rem;
    width: 30rem;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

.wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.button {
    justify-content: center;
    align-items: center;
    margin: .5rem;
    height: 5rem;
    width: 10rem;
    font-size: 2rem;
}